@import 
url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Roboto&family=Tilt+Prism&display=swap');
body {
 background-image: url('data:image/svg+xml,%3Csvg width="40" height="40" viewBox="0 0 40 40" xmlns="http://www.w3.org/2000/svg"%3E%3Cg fill=" " fill-opacity="0.4" fill-rule="evenodd"%3E%3Cpath d="M0 40L40 0H20L0 20M40 40V20L20 40"/%3E%3C/g%3E%3C/svg%3E');
  background-color:#F3E5F5;
}
h1 {
  font-family: sofia font;
  font-size: 40px;
  color:#212121;
}
#AVATAR{
  height: 300px;
  width: 380px;
  margin-top: 55px;
}

#SRT{
  height: 300px;
  width: 300px;
  margin-left: 635px;
  margin-top: 25px;
}